*.pdb
*.cache
NExtensions.dll
/NExtensionsTests/bin/Debug/netcoreapp3.1/cs/*.dll
/NExtensionsTests/bin/Debug/netcoreapp3.1/de/*.dll
/NExtensionsTests/bin/Debug/netcoreapp3.1/es/*.dll
/NExtensionsTests/bin/Debug/netcoreapp3.1/fr/*.dll
/NExtensionsTests/bin/Debug/netcoreapp3.1/it/*.dll
/NExtensionsTests/bin/Debug/netcoreapp3.1/ja/*.dll
/NExtensionsTests/bin/Debug/netcoreapp3.1/ko/*.dll
/NExtensionsTests/bin/Debug/netcoreapp3.1/*.dll
/NExtensionsTests/bin/Debug/netcoreapp3.1/pl/*.dll
/NExtensionsTests/bin/Debug/netcoreapp3.1/pt-BR/*.dll
/NExtensionsTests/bin/Debug/netcoreapp3.1/ru/*.dll
/NExtensionsTests/bin/Debug/netcoreapp3.1/tr/*.dll
/NExtensionsTests/bin/Debug/netcoreapp3.1/zh-Hans/*.dll
/NExtensionsTests/bin/Debug/netcoreapp3.1/zh-Hant/*.dll
NExtensionsTests.dll
/NExtensions/bin/Debug/netcoreapp3.1/*.json
/NExtensions/obj/*.json
NExtensions.csproj.FileListAbsolute.txt
NExtensions.AssemblyInfo.cs
NExtensionsTests.csproj.CopyComplete
NExtensionsTests.AssemblyInfo.cs
testlog.manifest
*.targets
*.suo
*.props
NExtensionsTests.deps.json
NExtensionsTests.runtimeconfig.dev.json
NExtensionsTests.runtimeconfig.json
NExtensionsTests.csproj.nuget.dgspec.json
project.assets.json
*.testlog
NExtensionsTests.csproj.FileListAbsolute.txt
*.v2
